---

- name: Worker
  connection: paramiko
  gather_facts: true
  become: true
  hosts: all
  tasks:
    ## TBD
    - name: "YUM: install required soft"
      yum:
        name:
          - yum-utils
          - epel-release
          - git
          - nano
          - gcc
          - wget
        state: present

    - name: "YUM: install required soft from epel-release"
      yum:
        name:
          - openssl-devel
          - libffi-devel
          - bzip2-devel
        state: present

    - name: "CHECK: If we already have python3.8 than skip further tasks"
      ansible.builtin.stat:
        path: /usr/local/bin/python3.8
      register: python_exist

    - name: "INSTALL: python3.8"
      block:
        - name: "WGET: get python3.8"
          get_url:
            url: https://www.python.org/ftp/python/3.8.5/Python-3.8.5.tgz
            dest: /opt/Python-3.8.5.tgz
            mode: '0644'

        - name: "UNPACK: extract files from tar"
          ansible.builtin.unarchive:
            src: /opt/Python-3.8.5.tgz
            dest: /opt
            remote_src: yes

        - name: "INSTALL: configure python3.8"
          ansible.builtin.shell:
            cmd: ./configure --enable-optimizations
            chdir: /opt/Python-3.8.5/

        - name: "INSTALL: make install python3.8"
          ansible.builtin.shell:
            cmd: make altinstall
            chdir: /opt/Python-3.8.5/
      when: "not python_exist['stat']['exists']"

    - name: "CONFIG: allow access via ssh password"
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication yes'
